body{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}
h1{
    font-weight: bold;
    size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}
h3 {
    font-weight:medium;
    font-size: 20px;
    letter-spacing: 2%;
}
.small {
    font-weight: regular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}
.medium {
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.button .text {
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}
a {
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%;
    text-decoration: none;
}
.container{
    margin: 0 auto;
}

/*
header{

}
.header{

}
*/
.header-logo{
    font-family: "Raleway", sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-word {
    color: #2E2F42;
}
.menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover{
    color: #404bbf
}
.menu-link:focus {
    color: #404bbf
}
/*
.menu-nav li a:hover,.address a:hover {
    color: #404BBF;
}
.menu-nav li a:active {
    color: #404BBF;
}*/
address {
    font-style: normal;
}
.adress-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-link:hover{
    color: #404bbf;
}
.adress-link:focus {
    color: #404bbf;
}
/*
.address a {
    color: #2E2F42;
    font-size: 16px;
}
.address ul{
    margin: 0px;
}
.address li{
    list-style: none;
    margin-left: 40px;
    font-style: normal;
    float: left;
}
.address{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #434445;
}
.address a{
    font-size: 16px;
    font-style: normal;
}
    **/
.hero-image{
    background-color: #2E2F42;
}
/*
.div-hero-image{
    display: inline-block;
    margin: 188px 472px;
}
    */
.section-hero-image-h1{
    text-align: center;
    color: white;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.section-hero-image-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5 ;
    color: white;
    cursor: pointer;
}
.section-hero-image-btn:hover{
    background-color: #404BBF;
}
.section-hero-image-btn:focus {
    background-color: #404BBF;
}
.section-1 {
    background-color: #FFFFFF;
}
.section-1-list-h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42
}
.section-1-list-p {
    font-size: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
/*
.div-list{
    margin: 70px 156px ;
    margin-left: -564px;
    margin-top: -52px;
    
}
    
.div-list li{
    list-style: none;
    display: inline-block;
    margin: 2px 5px;
}
.div-list ul,.div-list ul h3,.div-list ul p{
    padding: 0px;
    margin: 0px;
}
        */
.section-2 {
    background-color: #F4F4FD;
}
.section-2-h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.section-2-li-card {
    background-color: white;
}
/*
.card-content {
    height: 120px;
    padding: 32px;
}
    */
.section-2-li-card-h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-2-li-card-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-3 {
    background-color: #FFFFFF;
}

.section-3-h2 {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-3-h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-3-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background-color: #2E2F42;
}
.footer-logo-a{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo-word {
    color: #F4F4FD;
}

.footer-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
